
.navbar {
  background-color: #01C8E5;
  text-align: center;
}

.navbar a {
  display: inline-block;
  padding: 10px;
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
}

.navbar a:hover {
  background-color: black!important;
  color: white;
}

.active {
  background-color: black!important;
  color: white!important;
}

.page-info {
  text-align: center;
  font-weight: bold;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
/*  text-decoration: underline; */
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover, .link-button:focus {
     text-decoration: underline;
}
 
.card {
     border: 2px solid rgba(0,0,0,.125);
     border-color: #17a2b8!important;
}
